In [1]:
import os, pandas as pd
co2totalLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/Co2kgy1000-variable.csv'
percapitaGDPLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/percapita-variable.csv'
globalhealthLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/Gov.HealthExp_-variable.csv'

co2=pd.read_csv(co2totalLINK)
percapita=pd.read_csv(percapitaGDPLINK)
health=pd.read_csv(globalhealthLINK)

In [2]:
co2.shape,percapita.shape,health.shape

((184, 2), (193, 2), (192, 2))

In [3]:
co2.columns,percapita.columns,health.columns

(Index(['Countries', 'CO2Kg/1000'], dtype='object'),
 Index(['Countries', 'GDP per capita'], dtype='object'),
 Index(['Countries', 'Gov.HealthExp%'], dtype='object'))

In [4]:
#merge1=co2.merge(percapita,how='inner',left_on='Countries',right_on='Countries').shape
#merge1

(182, 3)

In [6]:
#PARA HACER EL MERGE CON LAS 3 DATAS SELECCIONADAS DE LAS FUENTES
merge1=co2.merge(percapita,how='inner',left_on='Countries',right_on='Countries').merge(health,how='inner',left_on='Countries',right_on='Countries')
merge1

              Countries  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     United States [+]        0.23        $77,469         84.77%
1    United Kingdom [+]        0.11        $45,775         81.55%
2           Germany [+]        0.15        $48,636         86.50%
3            France [+]        0.10        $40,883         84.56%
4             Japan [+]        0.21        $33,731         85.54%
..                  ...         ...            ...            ...
177           Samoa [+]        0.31         $4,160         74.55%
178           Yemen [+]        0.10           $645         10.18%
179    South Africa [+]        0.55         $6,694         50.94%
180          Zambia [+]        0.11         $1,530         38.63%
181        Zimbabwe [+]        0.23       $585,276         51.62%

[182 rows x 4 columns]

In [11]:
merge1.shape

(182, 4)

In [12]:
#CAMBIAR EL NOMBRE COUNTRIES POR COUNTRY PARA PODER HACER EL SEGUNDO MERGE
merge1=merge1.rename(columns={"Countries":"Country"})
merge1

                Country  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     United States [+]        0.23        $77,469         84.77%
1    United Kingdom [+]        0.11        $45,775         81.55%
2           Germany [+]        0.15        $48,636         86.50%
3            France [+]        0.10        $40,883         84.56%
4             Japan [+]        0.21        $33,731         85.54%
..                  ...         ...            ...            ...
177           Samoa [+]        0.31         $4,160         74.55%
178           Yemen [+]        0.10           $645         10.18%
179    South Africa [+]        0.55         $6,694         50.94%
180          Zambia [+]        0.11         $1,530         38.63%
181        Zimbabwe [+]        0.23       $585,276         51.62%

[182 rows x 4 columns]

In [10]:
#PASAMOS AL ARCHIVO COUNTRY DEL PROFESOR
import os, pandas as pd