In [1]:
#EVALUACION 1

In [2]:
#COMENZAMOS LLAMANDO A NUESTRAS FUENTES
import os, pandas as pd
co2totalLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/Co2kgy1000-variable.csv'
percapitaGDPLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/percapita-variable.csv'
globalhealthLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/Gov.HealthExp_-variable.csv'

#ASIGNAMOS UN NOMBRE A CADA UNA
co2=pd.read_csv(co2totalLINK)
percapita=pd.read_csv(percapitaGDPLINK)
health=pd.read_csv(globalhealthLINK)

In [3]:
#Vemos el numero de filas y columnas que conformaran nuestro data frame

co2.shape,percapita.shape,health.shape

((184, 2), (193, 2), (192, 2))

In [4]:
#Vemos la lista con los nombres de las columnas de nuestro data frame

co2.columns,percapita.columns,health.columns

(Index(['Countries', 'CO2Kg/1000'], dtype='object'),
 Index(['Countries', 'GDP per capita'], dtype='object'),
 Index(['Countries', 'Gov.HealthExp%'], dtype='object'))

In [5]:
#merge1=co2.merge(percapita,how='inner',left_on='Countries',right_on='Countries').shape
#merge1

In [6]:
#PARA HACER EL MERGE CON LAS 3 DATAS SELECCIONADAS DE LAS FUENTES
merge1=co2.merge(percapita,how='inner',left_on='Countries',right_on='Countries').merge(health,how='inner',left_on='Countries',right_on='Countries')
merge1

              Countries  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     United States [+]        0.23        $77,469         84.77%
1    United Kingdom [+]        0.11        $45,775         81.55%
2           Germany [+]        0.15        $48,636         86.50%
3            France [+]        0.10        $40,883         84.56%
4             Japan [+]        0.21        $33,731         85.54%
..                  ...         ...            ...            ...
177           Samoa [+]        0.31         $4,160         74.55%
178           Yemen [+]        0.10           $645         10.18%
179    South Africa [+]        0.55         $6,694         50.94%
180          Zambia [+]        0.11         $1,530         38.63%
181        Zimbabwe [+]        0.23       $585,276         51.62%

[182 rows x 4 columns]

In [7]:
#

In [8]:
merge1.shape

(182, 4)

In [9]:
#CAMBIAR EL NOMBRE COUNTRIES POR COUNTRY PARA PODER HACER EL SEGUNDO MERGE
merge1=merge1.rename(columns={"Countries":"Country"})
merge1

                Country  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     United States [+]        0.23        $77,469         84.77%
1    United Kingdom [+]        0.11        $45,775         81.55%
2           Germany [+]        0.15        $48,636         86.50%
3            France [+]        0.10        $40,883         84.56%
4             Japan [+]        0.21        $33,731         85.54%
..                  ...         ...            ...            ...
177           Samoa [+]        0.31         $4,160         74.55%
178           Yemen [+]        0.10           $645         10.18%
179    South Africa [+]        0.55         $6,694         50.94%
180          Zambia [+]        0.11         $1,530         38.63%
181        Zimbabwe [+]        0.23       $585,276         51.62%

[182 rows x 4 columns]

In [10]:
#Convertimos los paises de Country en mayuscula para estandarizar y evitar 
#merge1['Country']=merge1['Country'].str.upper()
#merge1

In [11]:
merge1.Country=merge1.Country.str.replace('[+]','')
merge1

             Country  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     United States         0.23        $77,469         84.77%
1    United Kingdom         0.11        $45,775         81.55%
2           Germany         0.15        $48,636         86.50%
3            France         0.10        $40,883         84.56%
4             Japan         0.21        $33,731         85.54%
..               ...         ...            ...            ...
177           Samoa         0.31         $4,160         74.55%
178           Yemen         0.10           $645         10.18%
179    South Africa         0.55         $6,694         50.94%
180          Zambia         0.11         $1,530         38.63%
181        Zimbabwe         0.23       $585,276         51.62%

[182 rows x 4 columns]

In [12]:
#Convertimos los paises de Country en mayuscula para estandarizar y evitar 
merge1['Country']=merge1['Country'].str.upper()
merge1

             Country  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     UNITED STATES         0.23        $77,469         84.77%
1    UNITED KINGDOM         0.11        $45,775         81.55%
2           GERMANY         0.15        $48,636         86.50%
3            FRANCE         0.10        $40,883         84.56%
4             JAPAN         0.21        $33,731         85.54%
..               ...         ...            ...            ...
177           SAMOA         0.31         $4,160         74.55%
178           YEMEN         0.10           $645         10.18%
179    SOUTH AFRICA         0.55         $6,694         50.94%
180          ZAMBIA         0.11         $1,530         38.63%
181        ZIMBABWE         0.23       $585,276         51.62%

[182 rows x 4 columns]

In [13]:
merge1.Country=merge1.Country.str.strip()
merge1

            Country  CO2Kg/1000 GDP per capita Gov.HealthExp%
0     UNITED STATES        0.23        $77,469         84.77%
1    UNITED KINGDOM        0.11        $45,775         81.55%
2           GERMANY        0.15        $48,636         86.50%
3            FRANCE        0.10        $40,883         84.56%
4             JAPAN        0.21        $33,731         85.54%
..              ...         ...            ...            ...
177           SAMOA        0.31         $4,160         74.55%
178           YEMEN        0.10           $645         10.18%
179    SOUTH AFRICA        0.55         $6,694         50.94%
180          ZAMBIA        0.11         $1,530         38.63%
181        ZIMBABWE        0.23       $585,276         51.62%

[182 rows x 4 columns]

In [14]:
#PASAMOS AL ARCHIVO COUNTRY ISOS DEL PROFESOR
import os, pandas as pd
isoscountryLINK='https://github.com/enrique1157/evaluacion1-enrique2.0/raw/main/datausada/country_isos.csv'
isos=pd.read_csv(isoscountryLINK)
isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [15]:
#

In [16]:
# Variable Countries in 'merge1' but NOT in 'isos'
OnlyMerge1=set(merge1.Country)-set(isos.Country)
OnlyMerge1

{'BAHAMAS',
 'BOLIVIA',
 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS',
 "CÔTE D'IVOIRE",
 'DEMOCRATIC REPUBLIC OF THE CONGO',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ERITREA',
 'IRAN',
 'ISRAEL',
 'KIRIBATI',
 'LAOS',
 'MOLDOVA',
 'NETHERLANDS',
 'NIGER',
 'NORTH KOREA',
 'PALAU',
 'PHILIPPINES',
 'REPUBLIC OF THE CONGO',
 'RUSSIA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT VINCENT AND THE GRENADINES',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH KOREA',
 'SUDAN',
 'SYRIA',
 'TANZANIA',
 'THE GAMBIA',
 'TONGA',
 'TÜRKIYE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'VANUATU',
 'VENEZUELA'}

In [17]:
# Countries in 'isos' but NOT in 'merge1'
OnlyIsos=set(isos.Country)-set(merge1.Country)
OnlyIsos

{'BAHAMAS (THE)',
 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BRUNEI DARUSSALAM',
 'CENTRAL AFRICAN REPUBLIC (THE)',
 'COMOROS (THE)',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
 'CONGO (THE)',
 "C√îTE D'IVOIRE",
 'DOMINICAN REPUBLIC (THE)',
 'GAMBIA (THE)',
 'IRAN (ISLAMIC REPUBLIC OF)',
 'KOREA (THE REPUBLIC OF)',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)",
 'MICRONESIA (FEDERATED STATES OF)',
 'MOLDOVA (THE REPUBLIC OF)',
 'MONTENEGRO',
 'NETHERLANDS (THE)',
 'NIGER (THE)',
 'PHILIPPINES (THE)',
 'RUSSIAN FEDERATION (THE)',
 'SERBIA',
 'SOUTH SUDAN',
 'SUDAN (THE)',
 'TANZANIA, THE UNITED REPUBLIC OF',
 'TURKEY',
 'UNITED ARAB EMIRATES (THE)',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)'}

In [18]:
from thefuzz import process as fz

[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)]

[('BAHAMAS (THE)', ('BAHAMAS', 90)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO', 95)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ("C√îTE D'IVOIRE", ("CÔTE D'IVOIRE", 96)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('GAMBIA (THE)', ('THE GAMBIA', 95)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('KOREA (THE REPUBLIC OF)', ('NORTH KOREA', 86)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO', 86)),
 ('MICRONESIA (FEDERATED STATES OF)', ('UNITED STATES', 86)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('MONTENEGRO', ('NIGER', 54)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SERBIA', ('SYRIA', 73)),
 ('SOUTH SUDAN', ('SUDAN', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('TURKEY', ('TÜRKIYE', 67)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90))]

In [19]:
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)
 if fz.extractOne(f, OnlyMerge1)[1]>=87]

[('BAHAMAS (THE)', ('BAHAMAS', 90)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO', 95)),
 ("C√îTE D'IVOIRE", ("CÔTE D'IVOIRE", 96)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('GAMBIA (THE)', ('THE GAMBIA', 95)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SOUTH SUDAN', ('SUDAN', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90))]

In [20]:
changesFragile1={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(OnlyIsos)
                 if fz.extractOne(f, OnlyMerge1)[1] >=87}

changesFragile1

{'BAHAMAS (THE)': 'BAHAMAS',
 'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA',
 'BRUNEI DARUSSALAM': 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC (THE)': 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS (THE)': 'COMOROS',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)': 'DEMOCRATIC REPUBLIC OF THE CONGO',
 "C√îTE D'IVOIRE": "CÔTE D'IVOIRE",
 'DOMINICAN REPUBLIC (THE)': 'DOMINICAN REPUBLIC',
 'GAMBIA (THE)': 'THE GAMBIA',
 'IRAN (ISLAMIC REPUBLIC OF)': 'IRAN',
 'MOLDOVA (THE REPUBLIC OF)': 'MOLDOVA',
 'NETHERLANDS (THE)': 'NETHERLANDS',
 'NIGER (THE)': 'NIGER',
 'PHILIPPINES (THE)': 'PHILIPPINES',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA',
 'SOUTH SUDAN': 'SUDAN',
 'SUDAN (THE)': 'SUDAN',
 'TANZANIA, THE UNITED REPUBLIC OF': 'TANZANIA',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES'}

In [21]:
# Realizar los cambios 
isos.Country.replace(to_replace=changesFragile1,inplace=True)

In [22]:
#2da vez
OnlyMerge1=set(merge1.Country)-set(isos.Country)
OnlyIsos=set(isos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)]

[('CONGO (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('KOREA (THE REPUBLIC OF)', ('NORTH KOREA', 86)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO', 86)),
 ('MICRONESIA (FEDERATED STATES OF)', ('SYRIA', 54)),
 ('MONTENEGRO', ('REPUBLIC OF THE CONGO', 45)),
 ('SERBIA', ('SYRIA', 73)),
 ('TURKEY', ('TÜRKIYE', 67))]

In [23]:
# 2 dict of changes

changesFragile2={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(OnlyIsos)
                 if 74<=fz.extractOne(f, OnlyMerge1)[1]}

#dict of matches
changesFragile2

{'CONGO (THE)': 'REPUBLIC OF THE CONGO',
 'KOREA (THE REPUBLIC OF)': 'NORTH KOREA',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)": 'REPUBLIC OF THE CONGO'}

In [24]:
#merge1.Country.replace(to_replace=changesFragile2,inplace=True)

In [25]:
# make the changes
isos.Country.replace(to_replace=changesFragile2,inplace=True)

In [26]:
OnlyMerge1=set(merge1.Country)-set(isos.Country)
OnlyIsos=set(isos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(OnlyIsos)]

[('MICRONESIA (FEDERATED STATES OF)', ('SYRIA', 54)),
 ('MONTENEGRO', ('SAINT VINCENT AND THE GRENADINES', 45)),
 ('SERBIA', ('SYRIA', 73)),
 ('TURKEY', ('TÜRKIYE', 67))]

In [27]:
# third try
changesFragile3={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(OnlyIsos)
                 if 54==fz.extractOne(f, OnlyMerge1)[1]}

#dict of matches
changesFragile3

{'MICRONESIA (FEDERATED STATES OF)': 'SYRIA'}

In [28]:
###

In [29]:
#Merge on Country
merge1Isos=merge1.merge(isos)
merge1Isos

,Country,CO2Kg/1000,GDP per capita,Gov.HealthExp%,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [30]:
merge1.merge(isos, left_on='Country',right_on='Country').shape

(167, 8)

In [31]:
#Realizmos el segundo merch
#merge2=merge1.merge(isos,how='inner',left_on='Country',right_on='Country')
#merge2

In [32]:
# DATA CLEANING
merge1Isos.columns

Index(['Country', 'CO2Kg/1000', 'GDP per capita', 'Gov.HealthExp%',
       'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'],
      dtype='object')

In [33]:
#Index(['Country', 'CO2Kg/1000', 'GDP per capita', 'Gov.HealthExp%',
       #'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'],
      #dtype='object')

In [34]:
merge1Isos.columns.to_list()

['Country',
 'CO2Kg/1000',
 'GDP per capita',
 'Gov.HealthExp%',
 'Officialstatename',
 'InternetccTLD',
 'iso2',
 'iso3']

In [35]:
merge1Isos=merge1Isos.rename(columns={"Gov.HealthExp%": "Gov_Health_Exp"})
merge1Isos

,Country,CO2Kg/1000,GDP per capita,Gov_Health_Exp,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [36]:
merge1Isos=merge1Isos.rename(columns={"CO2Kg/1000": "CO2Kg_1000"})
merge1Isos

,Country,CO2Kg_1000,GDP per capita,Gov_Health_Exp,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [37]:
merge1Isos=merge1Isos.rename(columns={"GDP per capita": "GDP_per_capita"})
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [38]:
merge1Isos=merge1Isos.rename(columns={"Officialstatename": "Official_state_name"})
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Official_state_name,InternetccTLD,iso2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [39]:
merge1Isos=merge1Isos.rename(columns={"InternetccTLD": "Internet TLD"})
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Official_state_name,Internet TLD,iso2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [40]:
merge1Isos=merge1Isos.rename(columns={"iso2": "iso_2"})
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Official_state_name,Internet TLD,iso_2,iso3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [41]:
merge1Isos=merge1Isos.rename(columns={"iso3": "iso_3"})
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Official_state_name,Internet TLD,iso_2,iso_3
0,UNITED STATES,0.23,"$77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"$45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"$48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"$40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"$33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"$4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"$4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,$645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"$1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"$585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [42]:
merge1Isos.dtypes

Country                 object
CO2Kg_1000             float64
GDP_per_capita          object
Gov_Health_Exp          object
Official_state_name     object
Internet TLD            object
iso_2                   object
iso_3                   object
dtype: object

In [43]:
merge1Isos.GDP_per_capita=merge1Isos.GDP_per_capita.str.replace('$','')
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Official_state_name,Internet TLD,iso_2,iso_3
0,UNITED STATES,0.23,"77,469",84.77%,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"45,775",81.55%,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"48,636",86.50%,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"40,883",84.56%,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"33,731",85.54%,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"4,170",48.62%,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"4,160",74.55%,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,645,10.18%,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"1,530",38.63%,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"585,276",51.62%,The Republic of Zimbabwe,.zw,ZW,ZWE

In [44]:
merge1Isos.Gov_Health_Exp=merge1Isos.Gov_Health_Exp.str.replace('%','')
merge1Isos

,Country,CO2Kg_1000,GDP_per_capita,Gov_Health_Exp,Official_state_name,Internet TLD,iso_2,iso_3
0,UNITED STATES,0.23,"77,469",84.77,"Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,0.11,"45,775",81.55,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,0.15,"48,636",86.50,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,0.10,"40,883",84.56,The French Republic,.fr,FR,FRA
4,JAPAN,0.21,"33,731",85.54,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
162,VIET NAM,0.31,"4,170",48.62,The Socialist Republic of Viet Nam,.vn,VN,VNM
163,SAMOA,0.31,"4,160",74.55,The Independent State of Samoa,.ws,WS,WSM
164,YEMEN,0.10,645,10.18,The Republic of Yemen,.ye,YE,YEM
165,ZAMBIA,0.11,"1,530",38.63,The Republic of Zambia,.zm,ZM,ZMB
166,ZIMBABWE,0.23,"585,276",51.62,The Republic of Zimbabwe,.zw,ZW,ZWE

In [45]:
merge1Isos['CO2Kg_1000']=pd.to_numeric(merge1Isos.CO2Kg_1000)
merge1Isos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              167 non-null    object
 1   CO2Kg_1000           167 non-null    float64
 2   GDP_per_capita       167 non-null    object
 3   Gov_Health_Exp       167 non-null    object
 4   Official_state_name  167 non-null    object
 5   Internet TLD         166 non-null    object
 6   iso_2                166 non-null    object
 7   iso_3                167 non-null    object
dtypes: float64(1), object(7)
memory usage: 10.6+ KB

In [ ]:
merge1Isos['GDP_per_capita']=pd.to_numeric(merge1Isos.GDP_per_capita)
merge1Isos.info()

In [ ]:
merge1Isos['Gov_Health_Exp']=pd.to_numeric(merge1Isos.Gov_Health_Exp)
merge1Isos.info()